*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}
/* .poppins-regular,* {
    font-family: M
    font-weight: 400;
    font-style: normal;
} */
body{
    background-color:rgba(153, 153, 153, 0.068);
}
.container{
    max-width: 2000px;
    margin-inline: auto;
}
header{
    position: absolute;
    left: 0;
    right: 0;
    /* max-width: 100%; */
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 80px 20px 20px; /*top right bottom: left*/
    margin: auto;
}
header img{
    position: relative;
    background-color: transparent;
    /* opacity: 0.9; */
    margin-left: 10px;
    /* color: #ff4362; */
}
nav > ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* margin: auto; */
    margin-top: 20px;
}
nav > ul > li > a{
    padding: 0px 0px 0px 5px;
    margin-left: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9rem;
}
@media (max-width: 768px){
    header{
        position: absolute;
        left: 0;
        right: 0;
        /* max-width: 100%; */
        min-height: 120px;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 40px 20px 20px; /*top right bottom: left*/
        margin: auto;
    }
    header img{
        position: relative;
        background-color: transparent;
        /* opacity: 0.9; */
        margin-left: 10px;
        /* color: #ff4362; */
    }
    nav > ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        /* margin: auto; */
        margin-top: 10px;
    }
    nav > ul > li > a{
        padding: 0px 0px 0px 5px;
        margin-left: 1px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 0.5rem;
    }
}
a:hover{
    color: #ff4362;
}
.hero{
    margin-inline: auto;
    min-height: 82vh;
    background-color: rgba(0, 0, 0, 0.514);
    background-blend-mode: multiply;
    background-image: url(../images/YES-WEDDING-ITALY-elopment-in-rome-colosseum.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: absolute; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 3%;
    /* margin-bottom: 40px; */
}
.hero h1, h5, h6{
    color: #ffffff;
}
.hero a{
    /* border: 2px solid black; */
    color: white;
    /* border: 3px solid black; */
}
.hero a:hover{
    color: #ff4362;
}
.hero1 {
    margin: 12%;
}
.hero1 h1{
    /* font-size: 900%; */
    font-size: 7rem;
}
.hero1 h6{
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 2%;
}
@media (max-width: 425px){
    .hero1 {
        margin-top: 45%;
        margin-left: 18%;
        margin-right: 18%;
    }
    .hero1 h1{
        /* font-size: 900%; */
        font-size: 3rem;
    }
    .hero1 h5{
        font-size: 1rem;
    }
    .hero1 h6{
        font-size: 0.9rem;
        text-decoration: none;
        margin-top: 3%;
        margin-bottom: -2%;
    }
}
.contain{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box{
    /* height: auto;
    width: 540px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 0px;
    padding: 3px;
    text-align: center; 
    margin: 1px;
    margin-left: 100px;
    vertical-align: top; */
    height: auto;
    width: 48%;
    /* min-width: 280px; */
    display: inline-block;
    background-color: white;
    border-radius: 0px;
    padding: 40px;
    text-align: center; 
    margin: 8px;
    vertical-align: top;
    /* letter-spacing: 0.9px; */
}
.box h4{
    margin: 4%;
    font-size: x-large;
    font-weight: lighter;
}
.box h1{
    margin: 2%;
    font-size: xx-large;
    font-weight: lighter;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.horiz{
    margin: 4%;
}
.horiz hr{
    text-align: center;
    width: 20%;
    border: 1px solid #ff4362;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
hr{
    width: 40%;
    
    /* border-radius: 10px;
    margin-bottom: 60px; */
}
.capacity{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    color: #252d41;
    justify-content: center;
    padding: 4px 10px 2px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.capacity h5{
    color: #252d41;
    margin: left 2%;
    font-size: large;
    margin-left: 1%;
}
.accommodation h5{
    color: #252d41;
    font-size: large;
}
.accommodation{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #252d41;
    justify-content:center;
    padding: 4px 10px 2px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.box p{
    font-weight: lighter;
    font-size: large;
    margin-left: 1%;
}
@media (max-width: 1024px){
    .contain{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .box{
        /* height: auto;
        width: 540px;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 3px;
        text-align: center; 
        margin: 1px;
        margin-left: 100px;
        vertical-align: top; */
        height: auto;
        width: 48%;
        /* min-width: 280px; */
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        vertical-align: top;
        /* letter-spacing: 0.9px; */
    }
    .box h4{
        margin: 4%;
        font-size: large;
        font-weight: lighter;
    }
    .box h1{
        margin: 2%;
        font-size: x-large;
        font-weight: lighter;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .horiz{
        margin: 4%;
    }
    .horiz hr{
        text-align: center;
        width: 20%;
        border: 1px solid #ff4362;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    hr{
        width: 40%;
        
        /* border-radius: 10px;
        margin-bottom: 60px; */
    }
    .capacity{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        color: #252d41;
        justify-content: center;
        padding: 4px 1px 2px 2px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .capacity h5{
        color: #252d41;
        margin: left 2%;
        font-size: small;
        margin-left: 1%;
    }
    .accommodation h5{
        color: #252d41;
        font-size: small;
    }
    .accommodation{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: #252d41;
        justify-content:center;
        padding: 4px 1px 2px 2px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box p{
        font-weight: lighter;
        font-size: small;
        margin-left: 1%;
    }
}

/* .mm{
   

    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 20px 80px 20px 20px; /*top right bottom: left*/
    /* margin: auto;
}
tbody{ */ 
    /* position: relative;
    background-color: transparent; */
    /* opacity: 0.9; */
    /* color: #ff4362; */
/* } */

.button{
    width: 100%;
    min-height: 10vh;
}
.btn-12{
    /* margin: 60px; */
    border: 2px solid  #ff4362;
    padding: 12px 25px;  
    text-align: center; 
    min-width: 200px; 
    max-width: 100%;
    justify-content: center;
    margin: 8% 40% 8% 43%;
    /* border: 3px; */
    color: rgb(73, 72, 72);
    background-color: transparent;
    text-decoration: none;
    /* padding: 3%; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}
.btn-12:hover{
    background-color: #ff4362;
    color: white;
    border: transparent;
}
@media (max-width: 800px){
    .contain{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .box{
        /* height: auto;
        width: 540px;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 3px;
        text-align: center; 
        margin: 1px;
        margin-left: 100px;
        vertical-align: top; */
        height: auto;
        width: 47%;
        /* min-width: 280px; */
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        vertical-align: top;
    }
    .box h4{
        margin: 4%;
    }
    .box h1{
        margin: 2%;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .horiz{
        margin: 4%;
    }
    .horiz hr{
        text-align: center;
        width: 20%;
        border: 1px solid #ff4362;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    hr{
        width: 40%;
        
        /* border-radius: 10px;
        margin-bottom: 60px; */
    }
    .capacity{
        text-align: center;
        width: 100%;
    }
    .capacity h5{
        color: #252d41;
    }
    .accomodation{
        text-align: center;
    }
    .btn-12{
        /* margin: 60px; */
        border: 2px solid  #ff4362;
        padding: 8px 14px;  
        text-align: center; 
        min-width: 200px; 
        max-width: 100%;
        justify-content: center;
        margin: 8% 20% 8% 40%;
        /* border: 3px; */
        color: rgb(73, 72, 72);
        background-color: transparent;
        text-decoration: none;
        /* padding: 3%; */
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: small;
    }
    .btn-12:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
}
@media(max-width: 425px){
    .contain{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .box{
        /* height: auto;
        width: 540px;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 3px;
        text-align: center; 
        margin: 1px;
        margin-left: 100px;
        vertical-align: top; */
        height: auto;
        /* width: 12%; */
        /* min-width: 280px; */
        width: 100%;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 4px;
        margin-left: 0%;
        vertical-align: top;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .horiz{
        margin: 4%;
    }
    .horiz hr{
        text-align: center;
        width: 20%;
        border: 1px solid #ff4362;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    hr{
        width: 40%;
        
        /* border-radius: 10px;
        margin-bottom: 60px; */
    }
    .capacity{
        text-align: center;
        width: 100%;
    }
    .capacity h5{
        color: #252d41;
    }
    .accomodation{
        text-align: center;
    }
    
}
.great{
    display: grid;
    grid-template-areas: 
    'a b';
    grid-auto-columns: 50%;
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    margin-top: 1%;
}
.spear{
    grid-area: a;
    flex-wrap: wrap;
    text-align: center;
    min-width: 100%;
    color:#ffffff;
    background-color: #ff4362;
    min-height: 100vh;
}
.bear{
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
.bear h4{
    margin: 2%;
}
.bear h2{
    font-size: 2.5rem;
}
.social-media{
    width: 100%;
    align-items: center;
    margin-bottom: 40%;
}
.social-media i{
    color:#ff4362;
    background-color: white;
    padding: 4%;
    border-radius: 60%;
}
.form{
    grid-area: b;
    padding: 90px;
}
.form h2{
    font-size: 2.5rem;
    margin: 2%;
}
.form p{
    color: #646464;
}
.form input{
    background-color: whitesmoke;
    margin: 10px;
    padding: 30px;
}
.form input[type="text"]{
    width: 90%;
    padding: 12px;
}
.form input[type="email"]{
    width: 90%;
    padding: 12px;
}
.form input[type="subject"]{
    width: 90%;
    padding: 12px;
}
.form input{
    border-radius: 0px;
    outline: 1px solid rgb(199, 198, 198);
    background-color: whitesmoke;
}
.form input:focus{
    border: 1px dotted black;
    background-color: white;
}
.form textarea{
    margin: 10px;
    background-color: whitesmoke;

}
.form textarea{
    border-radius: 0px;
    outline: 1px solid rgb(199, 198, 198);
    background-color: whitesmoke;
}
.form textarea:focus{
    border: 1px dotted black;
    background-color: white;
}
.form textarea[name="message"]{
    width: 90%;
    margin-bottom: 40px;
    padding: 12px;
}
.btn-4{
    /* margin: 60px; */
    border: 2px solid  #ff4362;
    padding: 20px 35px;    
    justify-content: center;
    margin: 20%;
    /* border: 3px; */
    color: rgb(73, 72, 72);
    background-color: transparent;
    text-decoration: none;
    padding: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-4:hover{
    background-color: #ff4362;
    color: white;
    border: transparent;
}
@media (max-width: 1024px){
    .great{
        display: grid;
        margin-inline: auto;
        grid-template-areas: 
        'a'
        'b';
        grid-auto-columns: 100%;
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
        margin-top: 2%;
    }
    .spear{
        grid-area: a;
        flex-wrap: wrap;
        text-align: center;
        min-width: 100%;
        color:#ffffff;
        background-color: #ff4362;
        min-height: 30vh;
    }
    .bear{
        margin-top: 30%;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .bear h4{
        margin: 2%;
        text-align: center;
        font-size: 0.8rem;
    }
    .bear h2{
        font-size: 1.8rem;
        text-align: center;
    }
    .form{
        grid-area: b;
        padding: 25px;
    }
    .form h2{
        font-size: 1.5rem;
        margin: 2%;
        text-align: center;
    }
    .form p{
        color: #646464;
        text-align: center;
        font-size: 0.5rem;
    }
    .form input{
        background-color: whitesmoke;
        margin: 10px;
        padding: 50px;
    }
    .form input[type="text"]{
        width: 90%;
        padding: 6px;
    }
    .form input[type="email"]{
        width: 90%;
        padding: 6px;
    }
    .form input[type="subject"]{
        width: 90%;
        padding: 6px;
    }
    .form input{
        border-radius: 0px;
        outline: 1px solid rgb(199, 198, 198);
        background-color: whitesmoke;
    }
    .form input:focus{
        border: 1px dotted black;
        background-color: white;
    }
    .form textarea{
        margin: 10px;
        background-color: whitesmoke;
    
    }
    .form textarea{
        border-radius: 0px;
        outline: 1px solid rgb(199, 198, 198);
        background-color: whitesmoke;
    }
    .form textarea:focus{
        border: 1px dotted black;
        background-color: white;
    }
    .form textarea[name="message"]{
        width: 90%;
        margin-bottom: 40px;
        padding: 4px;
    }
    .btn-4{
        /* margin: 60px; */
        border: 1px solid  #ff4362;
        padding: 2% 5%;    
        justify-content: center;
        margin: 21%;
        /* border: 3px; */
        color: rgb(73, 72, 72);
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        font-size: 0.6rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .btn-4:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
}
footer{
    padding: 50px;
    background-color: #252d41;
    color: white;
}
.mm{
    /* position: absolute; */
    left: 0;
    right: 0;
    /* max-width: 100%; */

    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 20px 80px 20px 20px; /*top right bottom: left*/
    margin: auto;
}
tbody{
    position: relative;
    background-color: transparent;
    /* opacity: 0.9; */
    margin-left: 10px;
    /* color: #ff4362; */
}
@media (max-width: 425px){
    footer{
        padding: 10px;
        background-color: #252d41;
        color: white;
        margin-inline: auto;
    }
    .mm{
        /* position: absolute; */
        left: 0;
        right: 0;
        /* max-width: 100%; */
    
        display: flex;
        flex-wrap: wrap;
        font-size: 0.4rem;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        padding: 5px 15px 5px 5px; /*top right bottom: left*/
        margin: auto;
    }
    tbody{
        position: relative;
        background-color: transparent;
        /* opacity: 0.9; */
        margin-left: 10px;
        /* color: #ff4362; */
    }
}