*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}
/* .poppins-regular,* {
    font-family: M
    font-weight: 400;
    font-style: normal;
} */
body{
    background-color: white;
}
.container{
    max-width: 2000px;
    margin-inline: auto;
}
header{
    position: absolute;
    left: 0;
    right: 0;
    /* max-width: 100%; */
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 80px 20px 20px; /*top right bottom: left*/
    margin: auto;
}
header img{
    position: relative;
    background-color: transparent;
    /* opacity: 0.9; */
    margin-left: 10px;
    /* color: #ff4362; */
}
nav > ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* margin: auto; */
    margin-top: 20px;
}
nav > ul > li > a{
    padding: 0px 0px 0px 5px;
    margin-left: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9rem;
}
@media (max-width: 768px){
    header{
        position: absolute;
        left: 0;
        right: 0;
        /* max-width: 100%; */
        min-height: 120px;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 40px 20px 20px; /*top right bottom: left*/
        margin: auto;
    }
    header img{
        position: relative;
        background-color: transparent;
        /* opacity: 0.9; */
        margin-left: 10px;
        /* color: #ff4362; */
    }
    nav > ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        /* margin: auto; */
        margin-top: 10px;
    }
    nav > ul > li > a{
        padding: 0px 0px 0px 5px;
        margin-left: 1px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 0.5rem;
    }
}
a:hover{
    color: #ff4362;
}
.hero{
    margin-inline: auto;
    min-height: 82vh;
    background-image: url(../images/Married\ with\ Luxury\ -\ Copy.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.514);
    background-blend-mode: multiply;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 3%;
    /* margin-bottom: 40px; */
}
.hero h1, h5, h6{
    color: #ffffff;
}
.hero a{
    /* border: 2px solid black; */
    color: white;
    /* border: 3px solid black; */
}
.hero a:hover{
    color: #ff4362;
}
.hero1 {
    margin: 12%;
}
.hero1 h1{
    /* font-size: 900%; */
    font-size: 7rem;
}
.hero1 h6{
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 2%;
}
@media (max-width: 425px){
    .hero1 {
        margin-top: 45%;
        margin-left: 18%;
        margin-right: 18%;
    }
    .hero1 h1{
        /* font-size: 900%; */
        font-size: 3rem;
    }
    .hero1 h5{
        font-size: 1rem;
    }
    .hero1 h6{
        font-size: 0.9rem;
        text-decoration: none;
        margin-top: 3%;
        margin-bottom: -2%;
    }
}
.wedding{
    min-width: 100%;
    background-color:rgba(153, 153, 153, 0.068);
    margin-top: 2%;
    margin-bottom: 0%;
    padding: 5%;
    grid-template-areas: 'xy'
    'xy';
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
}
.destiny{
    min-height: 120vh;
    min-width: 100%;
    max-width: 3000px;
    /* grid-area: x; */
    margin-inline: auto;
    /* padding-left: 80px;
    padding-right: 80px; */
    /* height: 80vh; */
    /* padding-bottom: 40px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5%; */
    padding: 20px;
    display: grid;
    grid-auto-columns: 400px;
    /* grid-template-areas: 
    'd a c c'
    'd b c c'; */
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));

}
@media(max-width: 2800px){
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 10px;
        display: grid;
        grid-auto-columns: 150%;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 2500px;
        gap: 15px;
        grid-template-areas: 
        'd a c c'
        'd b c c';
    }
    .contain{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color:rgba(153, 153, 153, 0.068);
    }
    .boxone{
        height: auto;
        width: 20%;
        min-width: 320px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 9%;
        vertical-align: top;
    }
    .box{
        height: auto;
        width: 20%;
        min-width: 320px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 1%;
        vertical-align: top;
    }
}
@media(max-width: 1700px){
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 10px;
        display: grid;
        grid-auto-columns: 90%;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 2500px;
        gap: 15px;
        grid-template-areas: 
        'd a c c'
        'd b c c';
    }
}
@media(max-width: 1440px){
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 10px;
        display: grid;
        grid-auto-columns: 75%;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 2500px;
        gap: 15px;
        grid-template-areas: 
        'd a c c'
        'd b c c';
    }
    .contain{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color:rgba(153, 153, 153, 0.068);
    }
    .boxone{
        height: auto;
        /* width: 12%; */
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 5%;
        vertical-align: top;
    }
    .box{
        height: auto;
        /* width: 12%; */
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 1%;
        vertical-align: top;
    }
}
@media(max-width: 1024px){
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 10px;
        display: grid;
        grid-auto-columns: 55%;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 2500px;
        gap: 15px;
        grid-template-areas: 
        'd a c c'
        'd b c c';
    }

    .contain{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color:rgba(153, 153, 153, 0.068);
    }
    .boxone{
        height: auto;
        /* width: 12%; */
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 9%;
        vertical-align: top;
    }
    .box{
        height: auto;
        /* width: 12%; */
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 9%;
        vertical-align: top;
    }
}

.images-1{
    grid-area: a;
    padding-right: 15px;
    background-image: url(../images/top\ left\ drink.jpg);
    /* border: solid white 10px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.images-2{
    grid-area: b;
    padding: 10px;
    background-image: url(../images/bottom\ left\ drink.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* border: solid white 10px; */
    background-size: cover;
}
.images-3{
    grid-area: c;
    padding: 13px;
    background-image: url(../images/right\ drink.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* border: solid white 10px; */
    background-size: cover;
} 
.text{
    grid-area: d;
    margin: auto;
    grid-column: span 1/2;
    margin-inline: auto;
    /* margin-top: 90px; */
    padding: 10px;
    /* display: flex;
    flex-wrap: wrap;
    padding: 25px;
    width: 60%; */
    min-width: 35%;
} 
.text h2{
    text-align: left;
    padding: none;
    font-size: 3.0rem;
    letter-spacing: 1.2px;
    color: rgb(39, 38, 38);
    /* width: 20%; */
}
.text p{
    font-size: 1.0rem;
    letter-spacing: 0.3px;
    line-height: 1.4;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgb(94, 94, 94);
}
.btn-2{
    border: 2px solid  #ff4362;
    padding: 12px 20px;    
    justify-content: center;
    /* margin-top: -20%;
    border: 3px; */
    color: rgb(31, 30, 30);
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-2:hover{
    background-color: #ff4362;
    color: white;
    border: transparent;
}
@media(max-width: 768px){
        .destiny{
            min-height: 70vh;
            min-width: 100%;
            max-width: 3000px;
            /* grid-area: x; */
            margin-inline: auto;
            /* padding-left: 80px;
            padding-right: 80px; */
            /* height: 80vh; */
            /* padding-bottom: 40px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-top: 5%; */
            padding: 20px;
            display: grid;
            grid-auto-columns: 400px;
            /* grid-template-areas: 
            'd a c c'
            'd b c c'; */
            grid-template-columns: repeat(autofill, minmax(400px, 1fr));
        
        }
        .img{
            /* grid-row: span 3;
            grid-column: span 1/4; */
            padding: 10px;
            display: grid;
            grid-auto-columns: 40%;
            /* grid-template-rows: subgrid; */
            min-width: 80%;
            max-width: 2500px;
            gap: 15px;
            grid-template-areas: 
            'd a c c'
            'd b c c';
        }
        .text{
            grid-area: d;
            margin: auto;
            grid-column: span 1/2;
            margin-inline: auto;
            /* margin-top: 90px; */
            padding: 10px;
            /* display: flex;
            flex-wrap: wrap;
            padding: 25px;
            width: 60%; */
            min-width: 35%;
        } 
        .text h2{
            text-align: left;
            padding: none;
            font-size: 1.3rem;
            letter-spacing: 1.2px;
            color: rgb(39, 38, 38);
            /* width: 20%; */
        }
        .text p{
            font-size: 0.5rem;
            letter-spacing: 0.3px;
            line-height: 1.4;
            margin-top: 5%;
            margin-bottom: 11%;
            color: rgb(94, 94, 94);
        }
        .btn-2{
            border: 1px solid  #ff4362;
            padding: 8px 12px;    
            justify-content: center;
            /* margin-top: -20%;
            border: 3px; */
            color: rgb(31, 30, 30);
            font-size: small;
            background-color: transparent;
            text-decoration: none;
        }
        .btn-2:hover{
            background-color: #ff4362;
            color: white;
            border: transparent;
        }
    }
@media(max-width: 500px){
    .wedding{
        min-width: 100%;
        background-color:rgba(153, 153, 153, 0.068);
        margin-top: 2%;
        margin-bottom: 0%;
        padding: 1%;
        grid-template-areas: 'xy'
        'xy';
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
        /* display: flex;
        flex-wrap: wrap; */
    }
    .destiny{
        min-height: 120vh;
        min-width: 100%;
        /* max-width: 3000px; */
        /* grid-area: x; */
        margin-inline: auto;
        /* padding-left: 80px;
        padding-right: 80px; */
        /* height: 80vh; */
        /* padding-bottom: 40px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 5%; */
        padding: 1px;
        display: grid;
        grid-auto-columns: 400px;
        /* grid-template-areas: 
        'd a c c'
        'd b c c'; */
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    
    }
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 5px;
        margin-left: 10%;
        display: grid;
        grid-auto-columns: 305px;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 320px;
        /* max-width: 2500px; */
        gap: 15px;
        grid-auto-rows: 300px;
        grid-template-areas: 
        'd'
        'a'
        'b'
        'c';
    }
    .images-1{
        grid-area: a;
        padding-right: 3px;
        background-image: url(../images/top\ left\ drink.jpg);
        /* border: solid white 10px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images-2{
        grid-area: b;
        padding: 3px;
        background-image: url(../images/bottom\ left\ drink.jpg);
        background-position: center;
        background-repeat: no-repeat;
        /* border: solid white 10px; */
        background-size: cover;
    }
    .images-3{
        grid-area: c;
        padding: 3px;
        background-image: url(../images/right\ drink.jpg);
        background-position: center;
        background-repeat: no-repeat;
        /* border: solid white 10px; */
        background-size: cover;
    } 
    .text{
        grid-area: d;
        margin: auto;
        grid-column: span 1/2;
        margin-inline: auto;
        text-align: center;
        /* margin-top: 90px; */
        padding: 10px;
        /* display: flex;
        flex-wrap: wrap;
        padding: 25px;
        width: 60%; */
        width: 85%;
    } 
    .text h2{
        text-align: center;
        padding: none;
        font-size: 1.3rem;
        letter-spacing: 1.2px;
        color: rgb(39, 38, 38);
        /* width: 20%; */
    }
    .text p{
        font-size: 0.5rem;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 1.4;
        margin-top: 5%;
        margin-bottom: 11%;
        color: rgb(94, 94, 94);
    }
    .btn-2{
        border: 1px solid  #ff4362;
        padding: 8px 12px;    
        justify-content: center;
        /* margin-top: -20%;
        border: 3px; */
        color: rgb(31, 30, 30);
        font-size: x-small;
        background-color: transparent;
        text-decoration: none;
    }
    .btn-2:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
 }
 @media(max-width: 320px){
    .wedding{
        min-width: 100%;
        background-color:rgba(153, 153, 153, 0.068);
        margin-top: 2%;
        margin-bottom: 0%;
        padding: 1%;
        grid-template-areas: 'xy'
        'xy';
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
        /* display: flex;
        flex-wrap: wrap; */
    }
    .destiny{
        min-height: 120vh;
        min-width: 100%;
        /* max-width: 3000px; */
        /* grid-area: x; */
        margin-inline: auto;
        /* padding-left: 80px;
        padding-right: 80px; */
        /* height: 80vh; */
        /* padding-bottom: 40px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 5%; */
        padding: 1px;
        display: grid;
        grid-auto-columns: 400px;
        /* grid-template-areas: 
        'd a c c'
        'd b c c'; */
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    
    }
    .img{
        /* grid-row: span 3;
        grid-column: span 1/4; */
        padding: 2px;
        margin-left: 0%;
        display: grid;
        grid-auto-columns: 305px;
        /* grid-template-rows: subgrid; */
        min-width: 80%;
        max-width: 320px;
        /* max-width: 2500px; */
        gap: 15px;
        grid-auto-rows: 300px;
        grid-template-areas: 
        'd'
        'a'
        'b'
        'c';
    }
    .images-1{
        grid-area: a;
        padding-right: 3px;
        background-image: url(../images/top\ left\ drink.jpg);
        /* border: solid white 10px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images-2{
        grid-area: b;
        padding: 3px;
        background-image: url(../images/bottom\ left\ drink.jpg);
        background-position: center;
        background-repeat: no-repeat;
        /* border: solid white 10px; */
        background-size: cover;
    }
    .images-3{
        grid-area: c;
        padding: 3px;
        background-image: url(../images/right\ drink.jpg);
        background-position: center;
        background-repeat: no-repeat;
        /* border: solid white 10px; */
        background-size: cover;
    } 
    .text{
        grid-area: d;
        margin: auto;
        grid-column: span 1/2;
        margin-inline: auto;
        text-align: center;
        /* margin-top: 90px; */
        padding: 10px;
        /* display: flex;
        flex-wrap: wrap;
        padding: 25px;
        width: 60%; */
        width: 85%;
    } 
    .text h2{
        text-align: center;
        padding: none;
        font-size: 1.3rem;
        letter-spacing: 1.2px;
        color: rgb(39, 38, 38);
        /* width: 20%; */
    }
    .text p{
        font-size: 0.5rem;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 1.4;
        margin-top: 5%;
        margin-bottom: 11%;
        color: rgb(94, 94, 94);
    }
    .btn-2{
        border: 1px solid  #ff4362;
        padding: 8px 12px;    
        justify-content: center;
        /* margin-top: -20%;
        border: 3px; */
        color: rgb(31, 30, 30);
        font-size: x-small;
        background-color: transparent;
        text-decoration: none;
    }
    .btn-2:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
 }
@media (max-width: 425px){
.contain{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:rgba(153, 153, 153, 0.068);
}
.boxone{
    height: auto;
    width: 12%;
    min-width: 280px;
    display: inline-block;
    background-color: white;
    border-radius: 0px;
    padding: 40px;
    text-align: center; 
    margin: 8px;
    margin-left: 15%;
    vertical-align: top;
}
.box{
    height: auto;
    width: 12%;
    min-width: 280px;
    display: inline-block;
    background-color: white;
    border-radius: 0px;
    padding: 40px;
    text-align: center; 
    margin: 8px;
    margin-left: 15%;
    vertical-align: top;
}
}
@media (max-width: 320px){
    .contain{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color:rgba(153, 153, 153, 0.068);
    }
    .boxone{
        height: auto;
        width: 12%;
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 7%;
        vertical-align: top;
    }
    .box{
        height: auto;
        width: 12%;
        min-width: 280px;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        padding: 40px;
        text-align: center; 
        margin: 8px;
        margin-left: 7%;
        vertical-align: top;
    }
    }
.hero2{
    content: '';
    background-color: rgba(0, 0, 0, 0.658);
    max-height: 60vh;
    background-image: url(../images/close-up-view-two-gold-wedding-rings-lying-roses-bouquet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    z-index: -1;
    /* position: absolute;  */
    margin-top: 1px;
    margin-bottom: 5px;
    padding-top: 1px; 
    padding-bottom: 5px;
    background-blend-mode: darken;
    color: white;
}
.hero12 {
    margin: 10%;
    text-align: center;
}
.hero12 h1{
    /* font-size: 900%; */
    font-size: 2rem;
}
.hero12 p{
    font-size: 1.5rem;
    text-decoration: none;
    /* margin-top: 5%; */
    margin-bottom: 4%;
    color: grey;
}
.btn-3{
    border: 2px solid #ff4362;;
    padding: 20px 30px;    
    justify-content: center;
    /* margin-top: -20%;
    border: 3px; */
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-3:hover{
    background-color: #ff4362;
    color: white;
    border: transparent;
}
@media (max-width: 500px){
    .hero2{
        content: '';
        background-color: rgba(0, 0, 0, 0.658);
        max-height: 60vh;
        background-image: url(../images/close-up-view-two-gold-wedding-rings-lying-roses-bouquet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        z-index: -1;
        /* position: absolute;  */
        margin-top: 1px;
        margin-bottom: 5px;
        padding-top: 1px; 
        padding-bottom: 5px;
        background-blend-mode: darken;
        color: white;
    }
    .hero12 {
        margin: 10%;
        text-align: center;
    }
    .hero12 h1{
        /* font-size: 900%; */
        font-size: 1.4rem;
    }
    .hero12 p{
        font-size: 0.7rem;
        text-decoration: none;
        /* margin-top: 5%; */
        margin-bottom: 6%;
        color: grey;
    }
    .btn-3{
        border: 2px solid #ff4362;;
        padding: 10px 18px;    
        justify-content: center;
        /* margin-top: -20%;
        border: 3px; */
        color: white;
        background-color: transparent;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .btn-3:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
}

.great{
    display: grid;
    grid-template-areas: 
    'a b';
    grid-auto-columns: 50%;
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    margin-top: 2%;
}
.spear{
    grid-area: a;
    flex-wrap: wrap;
    text-align: center;
    min-width: 100%;
    color:#ffffff;
    background-color: #ff4362;
    min-height: 100vh;
}
.bear{
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
.bear h4{
    margin: 2%;
}
.bear h2{
    font-size: 2.5rem;
}
.social-media{
    width: 100%;
    align-items: center;
    margin-bottom: 40%;
}
.social-media i{
    color:#ff4362;
    background-color: white;
    padding: 4%;
    border-radius: 60%;
}
.form{
    grid-area: b;
    padding: 90px;
}
.form h2{
    font-size: 2.5rem;
    margin: 2%;
}
.form p{
    color: #646464;
}
.form input{
    background-color: whitesmoke;
    margin: 10px;
    padding: 30px;
}
.form input[type="text"]{
    width: 90%;
    padding: 12px;
}
.form input[type="email"]{
    width: 90%;
    padding: 12px;
}
.form input[type="subject"]{
    width: 90%;
    padding: 12px;
}
.form input{
    border-radius: 0px;
    outline: 1px solid rgb(199, 198, 198);
    background-color: whitesmoke;
}
.form input:focus{
    border: 1px dotted black;
    background-color: white;
}
.form textarea{
    margin: 10px;
    background-color: whitesmoke;

}
.form textarea{
    border-radius: 0px;
    outline: 1px solid rgb(199, 198, 198);
    background-color: whitesmoke;
}
.form textarea:focus{
    border: 1px dotted black;
    background-color: white;
}
.form textarea[name="message"]{
    width: 90%;
    margin-bottom: 40px;
    padding: 12px;
}
.btn-4{
    /* margin: 60px; */
    border: 2px solid  #ff4362;
    padding: 20px 35px;    
    justify-content: center;
    margin: 20%;
    /* border: 3px; */
    color: rgb(73, 72, 72);
    background-color: transparent;
    text-decoration: none;
    padding: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-4:hover{
    background-color: #ff4362;
    color: white;
    border: transparent;
}
@media (max-width: 1024px){
    .great{
        display: grid;
        margin-inline: auto;
        grid-template-areas: 
        'a'
        'b';
        grid-auto-columns: 100%;
        grid-template-columns: repeat(autofill, minmax(400px, 1fr));
        margin-top: 2%;
    }
    .spear{
        grid-area: a;
        flex-wrap: wrap;
        text-align: center;
        min-width: 100%;
        color:#ffffff;
        background-color: #ff4362;
        min-height: 30vh;
    }
    .bear{
        margin-top: 30%;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .bear h4{
        margin: 2%;
        text-align: center;
        font-size: 0.8rem;
    }
    .bear h2{
        font-size: 1.8rem;
        text-align: center;
    }
    .form{
        grid-area: b;
        padding: 25px;
    }
    .form h2{
        font-size: 1.5rem;
        margin: 2%;
        text-align: center;
    }
    .form p{
        color: #646464;
        text-align: center;
        font-size: 0.5rem;
    }
    .form input{
        background-color: whitesmoke;
        margin: 10px;
        padding: 50px;
    }
    .form input[type="text"]{
        width: 90%;
        padding: 6px;
    }
    .form input[type="email"]{
        width: 90%;
        padding: 6px;
    }
    .form input[type="subject"]{
        width: 90%;
        padding: 6px;
    }
    .form input{
        border-radius: 0px;
        outline: 1px solid rgb(199, 198, 198);
        background-color: whitesmoke;
    }
    .form input:focus{
        border: 1px dotted black;
        background-color: white;
    }
    .form textarea{
        margin: 10px;
        background-color: whitesmoke;
    
    }
    .form textarea{
        border-radius: 0px;
        outline: 1px solid rgb(199, 198, 198);
        background-color: whitesmoke;
    }
    .form textarea:focus{
        border: 1px dotted black;
        background-color: white;
    }
    .form textarea[name="message"]{
        width: 90%;
        margin-bottom: 40px;
        padding: 4px;
    }
    .btn-4{
        /* margin: 60px; */
        border: 1px solid  #ff4362;
        padding: 2% 5%;    
        justify-content: center;
        margin: 21%;
        /* border: 3px; */
        color: rgb(73, 72, 72);
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        font-size: 0.6rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .btn-4:hover{
        background-color: #ff4362;
        color: white;
        border: transparent;
    }
}
footer{
    padding: 50px;
    background-color: #252d41;
    color: white;
}
.mm{
    /* position: absolute; */
    left: 0;
    right: 0;
    /* max-width: 100%; */

    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 20px 80px 20px 20px; /*top right bottom: left*/
    margin: auto;
}
tbody{
    position: relative;
    background-color: transparent;
    /* opacity: 0.9; */
    margin-left: 10px;
    /* color: #ff4362; */
}
@media (max-width: 425px){
    footer{
        padding: 10px;
        background-color: #252d41;
        color: white;
        margin-inline: auto;
    }
    .mm{
        /* position: absolute; */
        left: 0;
        right: 0;
        /* max-width: 100%; */
    
        display: flex;
        flex-wrap: wrap;
        font-size: 0.4rem;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        padding: 5px 15px 5px 5px; /*top right bottom: left*/
        margin: auto;
    }
    tbody{
        position: relative;
        background-color: transparent;
        /* opacity: 0.9; */
        margin-left: 10px;
        /* color: #ff4362; */
    }
}